In [90]:
import pandas as pd
from datetime import datetime, timedelta

In [91]:
wgr_df = pd.read_csv('data/wgr.csv', delimiter='\t', encoding='utf-16')
qliro_df = pd.read_csv('data/qliro.csv', sep=';')

In [92]:
wgr_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 334 entries, 0 to 333
Data columns (total 35 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Order ID                334 non-null    int64
 1   Article number          334 non-null    object
 2   Product                 334 non-null    object
 3   Quantity                334 non-null    int64
 4   Price excl. VAT         334 non-null    float64
 5   VAT Rate                334 non-null    int64
 6   Order time              182 non-null    object
 7   Payment method          182 non-null    object
 8   Shipping method         182 non-null    object
 9   Order weight (g)        182 non-null    float64
 10  Shipping fee excl. VAT  182 non-null    float64
 11  Payment fee excl. VAT   182 non-null    float64
 12  Total amount excl. VAT  182 non-null    float64
 13  Average VAT rate (%)    182 non-null    float64
 14  Total VAT               182 non-null    float64
 15  Total excl. 0% VAT      182 non-null    float64
 16  Total excl. 6% VAT      182 non-null    float64
 17  Total excl. 12% VAT     182 non-null    float64
 18  Total excl. 25% VAT     182 non-null    float64
 19  VAT amount (0%)         182 non-null    float64
 20  VAT amount (6%)         182 non-null    float64
 21  VAT amount (12%)        182 non-null    float64
 22  VAT amount (25%)        182 non-null    float64
 23  Currency code           182 non-null    object
 24  Currency rate           182 non-null    float64
 25  E-mail                  182 non-null    object
 26  Phone                   10 non-null     object
 27  Cell phone              179 non-null    object
 28  Shipping Name           182 non-null    object
 29  Shipping Contact        182 non-null    object
 30  Shipping Row 1          182 non-null    object
 31  Shipping Row 2          0 non-null      float64
 32  Shipping Zip            182 non-null    object
 33  Shipping City           182 non-null    object
 34  Shipping Country        182 non-null    object
dtypes: float64(17), int64(3), object(15)
memory usage: 91.5+ KB

In [93]:
qliro_df.head()

,Butiksordernummer,Betalning transaktionsreferens,Transaktionstyp,Valuta,Betalningspartner,Belopp,Momsbelopp,Avgift,Momsavgift,Land,Betalsätt,Betalsätt-Subtyp,Utbetalningsreferens,Avräkningsstatus,Avräkningsdatum,Qliro importdatum,Transaktionsslutdatum
0,WGR57319,221346921,Debit,SEK,PayFac,88.0,17.60,0,0.0,SE,SWISH,NaN,Q11290701353,Settled,2024-11-29,2024-11-30,2024-11-22
1,WGR57322,221452092,Debit,SEK,PayFac,724.0,144.80,0,0.0,SE,SWISH,NaN,Q11290701353,Settled,2024-11-29,2024-11-30,2024-11-22
2,WGR57351,222699939,Debit,SEK,Qliro,158.0,31.60,0,0.0,SE,QLIRO_INVOICE,INVOICE,QFS8832 26,Settled,2024-11-29,2024-12-01,2024-11-28
3,WGR57353,222700882,Debit,SEK,Qliro,597.0,119.40,0,0.0,SE,QLIRO_INVOICE,INVOICE,QFS8832 26,Settled,2024-11-29,2024-12-01,2024-11-28
4,WGR57315,221168866,Debit,SEK,PayFac,224.1,44.82,0,0.0,SE,SWISH,NaN,Q11280701419,Settled,2024-11-28,2024-11-30,2024-11-21

In [94]:
wgr_df = wgr_df[wgr_df['Payment method'] == 'QLIROCHECKOUT']

In [95]:

wgr_df = wgr_df[['Order ID', 'Total amount excl. VAT', 'Total VAT', 'Order time']]

In [96]:
wgr_df

     Order ID  Total amount excl. VAT  Total VAT           Order time
0       57294                  666.40     166.60  2024-11-18 12:01:57
6       57296                  147.20      36.80  2024-11-18 13:16:12
12      57298                  195.20      48.80  2024-11-18 19:24:33
13      57299                  179.20      44.80  2024-11-19 08:34:52
19      57301                  143.28      35.82  2024-11-19 13:26:31
..        ...                     ...        ...                  ...
327     57482                   78.40      19.60  2024-12-17 21:07:59
328     57483                  278.40      69.60  2024-12-18 08:38:03
329     57484                   78.40      19.60  2024-12-18 10:55:18
330     57485                  726.40     181.60  2024-12-18 10:59:38
332     57486                  125.60      31.40  2024-12-18 14:41:35

[165 rows x 4 columns]

In [97]:
# Remove 'WGR' prefix from Order ID column
qliro_df['Butiksordernummer'] = qliro_df['Butiksordernummer'].str.replace('WGR', '')


# Select relevant columns
qliro_df = qliro_df[['Butiksordernummer', 'Betalning transaktionsreferens', 'Belopp','Avräkningsstatus', 'Avräkningsdatum', 'Transaktionsslutdatum']]

In [98]:
qliro_df.head()

,Butiksordernummer,Betalning transaktionsreferens,Belopp,Avräkningsstatus,Avräkningsdatum,Transaktionsslutdatum
0,57319,221346921,88.0,Settled,2024-11-29,2024-11-22
1,57322,221452092,724.0,Settled,2024-11-29,2024-11-22
2,57351,222699939,158.0,Settled,2024-11-29,2024-11-28
3,57353,222700882,597.0,Settled,2024-11-29,2024-11-28
4,57315,221168866,224.1,Settled,2024-11-28,2024-11-21

In [99]:
wgr_df['Order ID'] = wgr_df['Order ID'].astype(str)
qliro_df['Butiksordernummer'] = qliro_df['Butiksordernummer'].astype(str)

merged_df = pd.merge(
    wgr_df,
    qliro_df, 
    left_on='Order ID',
    right_on='Butiksordernummer',
    how='inner'
)

In [100]:
merged_df

,Order ID,Total amount excl. VAT,Total VAT,Order time,Butiksordernummer,Betalning transaktionsreferens,Belopp,Avräkningsstatus,Avräkningsdatum,Transaktionsslutdatum
0,57294,666.40,166.60,2024-11-18 12:01:57,57294,220624261,833.0,Settled,2024-11-25,2024-11-18
1,57296,147.20,36.80,2024-11-18 13:16:12,57296,220642500,184.0,Settled,2024-11-25,2024-11-18
2,57298,195.20,48.80,2024-11-18 19:24:33,57298,220807658,244.0,Settled,2024-11-20,2024-11-19
3,57299,179.20,44.80,2024-11-19 08:34:52,57299,220807567,224.0,Settled,2024-11-20,2024-11-19
4,57301,143.28,35.82,2024-11-19 13:26:31,57301,220842486,179.1,Settled,2024-11-26,2024-11-19
5,57302,143.20,35.80,2024-11-19 13:53:16,57302,220846655,179.0,Settled,2024-11-26,2024-11-19
6,57303,143.20,35.80,2024-11-19 13:55:16,57303,220847050,179.0,Settled,2024-11-26,2024-11-19
7,57304,117.60,29.40,2024-11-19 14:01:28,57304,220848032,147.0,Settled,2024-11-26,2024-11-19
8,57305,278.40,69.60,2024-11-19 16:50:50,57305,221002515,348.0,Settled,2024-11-21,2024-11-20
9,57306,247.28,61.82,2024-11-19 17:30:07,57306,220883035,309.1,Settled,2024-11-26,2024-11-19
10,57307,70.40,17.60,2024-11-19 20:13:57,57307,220916679,88.0,Settled,2024-11-26,2024-11-19
11,57308,117.60,29.40,2024-11-19 21:35:34,57308,220936132,147.0,Settled,2024-11-26,2024-11-19
12,57309,357.60,89.40,2024-11-19 22:37:34,57309,220951598,447.0,Settled,2024-11-26,2024-11-19
13,57310,70.40,17.60,2024-11-19 22:51:23,57310,220954085,88.0,Settled,2024-11-26,2024-11-19
14,57311,389.60,97.40,2024-11-20 08:52:59,57311,220992336,487.0,Settled,2024-11-27,2024-11-20
15,57313,302.40,75.60,2024-11-20 22:18:21,57313,221138321,378.0,Settled,2024-11-27,2024-11-20
16,57314,357.60,89.40,2024-11-20 22:43:43,57314,221142415,447.0,Settled,2024-11-27,2024-11-20
17,57315,179.28,44.82,2024-11-21 07:36:46,57315,221168866,224.1,Settled,2024-11-28,2024-11-21
18,57316,159.20,39.80,2024-11-21 13:09:45,57316,221364800,199.0,Settled,2024-11-25,2024-11-22
19,57317,70.40,17.60,2024-11-21 18:25:09,57317,221265359,88.0,Settled,2024-11-28,2024-11-21
20,57318,278.40,69.60,2024-11-21 19:18:39,57318,221370970,348.0,Settled,2024-11-25,2024-11-22
21,57319,70.40,17.60,2024-11-22 08:23:45,57319,221346921,88.0,Settled,2024-11-29,2024-11-22
22,57320,195.20,48.80,2024-11-22 13:40:59,57320,221887457,244.0,Settled,2024-11-26,2024-11-25
23,57322,579.20,144.80,2024-11-22 19:56:16,57322,221452092,724.0,Settled,2024-11-29,2024-11-22
24,57326,843.20,210.80,2024-11-24 11:32:37,57326,221887644,1054.0,Settled,2024-11-26,2024-11-25
25,57329,197.60,49.40,2024-11-24 12:22:53,57329,221887514,247.0,Settled,2024-11-26,2024-11-25
26,57332,666.40,166.60,2024-11-25 18:46:47,57332,222211395,833.0,Settled,2024-11-27,2024-11-26
27,57336,179.20,44.80,2024-11-25 20:47:39,57336,222205827,224.0,Settled,2024-11-27,2024-11-26
28,57338,0.00,0.00,2024-11-26 09:51:31,57338,222211414,368.0,Settled,2024-11-27,2024-11-26
29,57351,126.40,31.60,2024-11-27 15:35:44,57351,222699939,158.0,Settled,2024-11-29,2024-11-28
30,57353,262.40,65.60,2024-11-28 10:33:04,57353,222700882,597.0,Settled,2024-11-29,2024-11-28

In [105]:
# Define the period
start_date = '2024-11-01'
end_date = '2024-11-30'

# Convert datetime columns if not already
merged_df['Order time'] = pd.to_datetime(merged_df['Order time'])
merged_df['Avräkningsdatum'] = pd.to_datetime(merged_df['Avräkningsdatum'])

# Split all orders into settled, late settled and unsettled orders
settled_orders = merged_df[
    (merged_df['Avräkningsstatus'] == 'Settled') &
    (merged_df['Avräkningsdatum'].dt.strftime('%Y-%m-%d') <= end_date)
]

late_settled_orders = merged_df[
    (merged_df['Avräkningsstatus'] == 'Settled') &
    (merged_df['Avräkningsdatum'].dt.strftime('%Y-%m-%d') > end_date)
]

unsettled_orders = merged_df[
    merged_df['Avräkningsstatus'] != 'Settled'
]

# Further split each group into period and non-period orders
period_settled = settled_orders[
    (settled_orders['Order time'].dt.strftime('%Y-%m-%d') >= start_date) & 
    (settled_orders['Order time'].dt.strftime('%Y-%m-%d') <= end_date)
]

non_period_settled = settled_orders[
    (settled_orders['Order time'].dt.strftime('%Y-%m-%d') < start_date) | 
    (settled_orders['Order time'].dt.strftime('%Y-%m-%d') > end_date)
]

period_late_settled = late_settled_orders[
    (late_settled_orders['Order time'].dt.strftime('%Y-%m-%d') >= start_date) & 
    (late_settled_orders['Order time'].dt.strftime('%Y-%m-%d') <= end_date)
]

non_period_late_settled = late_settled_orders[
    (late_settled_orders['Order time'].dt.strftime('%Y-%m-%d') < start_date) | 
    (late_settled_orders['Order time'].dt.strftime('%Y-%m-%d') > end_date)
]

period_unsettled = unsettled_orders[
    (unsettled_orders['Order time'].dt.strftime('%Y-%m-%d') >= start_date) & 
    (unsettled_orders['Order time'].dt.strftime('%Y-%m-%d') <= end_date)
]

non_period_unsettled = unsettled_orders[
    (unsettled_orders['Order time'].dt.strftime('%Y-%m-%d') < start_date) | 
    (unsettled_orders['Order time'].dt.strftime('%Y-%m-%d') > end_date)
]